# =========================
# Python cache files
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment variables
# =========================
.env
app/.env

# =========================
# Databases (local only)
# =========================
*.db
test.db
*.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# Node.js (frontend)
# =========================
node_modules/
dist/
build/

# =========================
# IDE files
# =========================
.vscode/
.idea/